<% layout('layouts/boilerplate')%>

    <link rel="stylesheet" href="/styleSheets/sellerdashboard/company.css">

    <ul class="nav nav-pills nav-fill mt-5">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/seller/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/seller/company">Company Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/seller/products">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/seller/enquiry">Leads</a>
        </li>
    </ul>

    <div class="full-page">
        <form class="needs-validation" action="/seller/company" method="POST" novalidate enctype="multipart/form-data">
            <div class="card login-card text-bg-secondary">

                <div class="card-body">

                    <h2 class="card-title text-center">Edit Company Profile</h2>
                    <h3>Business Information</h3>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label class="form-label" for="companyname">Company Name</label>
                            <input class="form-control" type="text" id="companyname" name="companyname" required
                                value="<%=seller.companyname%>">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="proprietorname">Proprietor Name</label>
                            <input class="form-control" type="text" id="proprietorname" name="proprietorname" required
                                value="<%=seller.proprietorname%>">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class=" col-md-6">
                            <label class="form-label" for="address">Address</label>
                            <input class="form-control" type="text" id="address" name="address" required
                                value="<%=seller.address%>">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="nature">Nature of Business</label>
                            <input class="form-control" type="text" id="nature" name="nature" required
                                value="<%=seller.nature%>">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-3">
                            <img class="change-logo" src="<%= seller.image[0].url %> " alt="" crossorigin="anonymous">
                        </div>
                        <div class="col-md-9">
                            <label class="form-label">Change Logo</label>
                            <div class="form-file custom-file">
                                <input class="form-control custom-file-input" type="file" id="image" name="image">
                                <label for=" image" class="form-label custom-file-label"></label>
                            </div>
                            <div id="formFile"></div>
                        </div>

                        <div class="col-md-12">
                            <label class="form-label" for="aboutcompany">About Company</label>
                            <textarea class="form-control" name="aboutcompany" id="aboutcompany" cols="30" rows="3"
                                required><%=seller.aboutcompany%></textarea>
                        </div>
                        <h3 style="margin-bottom: -0.65rem;">Login Information</h3>
                        <div class="col-md-6">
                            <label class="form-label" for="contactNumber">Contact Number</label>
                            <input class="form-control" type="text" id="contactNumber" name="contactNumber" required
                                value="<%=seller.contactNumber%>">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class=" col-md-6">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" required
                                value="<%=seller.email%>">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" required
                                value="<%=seller.username%>">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div> -->
                        <button type="" class="btn btn-success btn-login">Edit</button>

                    </div>

                </div>
            </div>
        </form>
    </div>