<% layout('layouts/boilerplate')%>

    <link rel="stylesheet" href="/styleSheets/sellerdashboard/enquiry.css">
    <ul class="nav nav-pills nav-fill mt-5">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/seller/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/seller/company">Company Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/seller/products">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/seller/enquiry">Leads</a>
        </li>
    </ul>
    <h1>Your Leads</h1>
    <% let accordNumber=0 %>
        <% for(let enquiry of seller.enquiries) {%>
            <%accordNumber++%>
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne ">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-<%=accordNumber%>" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                                <%= enquiry.productname %>
                                    <%= enquiry.quantity %>
                                        <%= enquiry.unit %>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-<%=accordNumber%>" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <form class="card card-body" action="/seller/enquiry/<%= enquiry._id %>?_method=DELETE"
                                    method="POST">
                                    <div class="row g-3">
                                        <div class="">
                                            <h3 class="heading-enquiry">Enquiry Information</h3>

                                            <button class="btn btn-danger delete-enquiry">Delete</button>

                                        </div>

                                        <div class="col-md-4 px-1 mb-2">
                                            <label for="input1" class="ms-2 position-absolute"
                                                style="margin-top: -0.25rem !important">
                                                <span class="h6 small bg-white text-muted px-1">Product/Service</span>
                                            </label>
                                            <input type="text" class="form-control mt-2" id="input1"
                                                value="<%= enquiry.productname %>" readonly>
                                        </div>
                                        <div class="col-md-4 px-1 mb-2">
                                            <label for="input2" class="ms-2 position-absolute"
                                                style="margin-top: -0.25rem !important">
                                                <span class="h6 small bg-white text-muted px-1">Quantity</span>
                                            </label>
                                            <input type="text" class="form-control mt-2" id="input2"
                                                value="<%= enquiry.quantity%>" readonly>
                                        </div>
                                        <div class="col-md-4 px-1 mb-2">
                                            <label for="input3" class="ms-2 position-absolute"
                                                style="margin-top: -0.25rem !important">
                                                <span class="h6 small bg-white text-muted px-1">Unit</span>
                                            </label>
                                            <input type="text" class="form-control mt-2" id="input3"
                                                value="<%= enquiry.unit%>" readonly>
                                        </div>
                                        <div class="col-md-12 px-1 mb-2">
                                            <label for="input4" class="ms-2 position-absolute"
                                                style="margin-top: -0.25rem !important">
                                                <span class="h6 small bg-white text-muted px-1">Enquirer Message</span>
                                            </label>
                                            <textarea class="form-control mt-2" name="body" id="input4" cols="30"
                                                rows="3" readonly><%= enquiry.buyingBody%></textarea>
                                        </div>
                                        <h3>Enquirer Information</h3>
                                        <div class="col-md-4 px-1 mb-2">
                                            <label for="input5" class="ms-2 position-absolute"
                                                style="margin-top: -0.25rem !important">
                                                <span class="h6 small bg-white text-muted px-1">Name</span>
                                            </label>
                                            <input type="text" class="form-control mt-2" id="input5"
                                                value="<%= enquiry.author.username %> " readonly>
                                        </div>
                                        <div class="col-md-4 px-1 mb-2">
                                            <label for="input6" class="ms-2 position-absolute"
                                                style="margin-top: -0.25rem !important">
                                                <span class="h6 small bg-white text-muted px-1">Email</span>
                                            </label>
                                            <input type="text" class="form-control mt-2" id="input6"
                                                value="<%= enquiry.author.email %> " readonly>
                                        </div>
                                        <div class="col-md-4 px-1 mb-2">
                                            <label for="input7" class="ms-2 position-absolute"
                                                style="margin-top: -0.25rem !important">
                                                <span class="h6 small bg-white text-muted px-1">Contact Number</span>
                                            </label>
                                            <input type="text" class="form-control mt-2" id="input7"
                                                value="<%= enquiry.author.contactNumber %> " readonly>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% } %>