<% layout('layouts/boilerplate')%>
    <script src="/javascripts/categories.js"></script>
    <div class="mt-4">
        <h1 class="">
            <%= catPage[0].categories %>
        </h1>
        <h2><a href="/products/new">Create a product</a></h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <% for(let catPages of catPage) {%>
                <div class="col">
                    <div class="card h-100">
                        <img src="<%= catPages.image %> " class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="/products/<%= catPages._id %> ">
                                    <%= catPages.title %>
                                </a>
                            </h5>
                            <p class="card-text">
                                <%= catPages.description %>
                            </p>

                            <b class="card-text">Category: <a href="/products/categories/<%= catPages.categories %>">
                                    <%= catPages.categories %>
                                </a></b>
                            <p class="card-text">
                                <b>
                                    <%= catPages.sellerName %> Group
                                </b>
                            </p>

                        </div>
                    </div>
                </div>

                <% } %>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mt-4">
            <li class="prev page-item" style="display: none;">
                <a class="page-link" id="less" href="#" onclick="GetURL()" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <% let PN=0 %>
                <% for(let num=0; response.totalPages>=num; num++) {%>
                    <% if(num%9==0) {%>
                        <% PN++%>
                            <li class="page-item"><a class="page-link" id="currUrl" href="/products?page="
                                    onclick="GetURL()">
                                    <%= PN %>
                                </a></li>
                            <% } %>
                                <% } %>
                                    <li class="next page-item" style="display: none;">
                                        <a class="page-link" aria-label="Next" href="#" onclick="GetURL()">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
        </ul>
    </nav>