<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/styleSheets/indexImages.css">


    <div class="mt-4">
        <% if(noMatch !==null) { %>
            <h3 class="nomatch">
                <%= noMatch %>
            </h3>
            <% } %>

                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <% for(let product of products) {%>
                        <div class="col">
                            <div class="card text-bg-light">
                                <img src="<%= product.images[0].indexImage %> " class="card-img-top" alt=""
                                    crossorigin="anonymous">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="/products/<%= product._id %> " id="productname">
                                            <%= product.title %>
                                        </a>
                                    </h5>
                                    <p class="card-text description">
                                        <%= product.description %>
                                    </p>
                                    <p class="card-text category">
                                        <b class="cate">Category:</b> <a id="cata"
                                            href="/products/categories/<%= product.categories %>">
                                            <%= product.categories %>
                                        </a>
                                    </p>
                                    <div class="inli contactnum">
                                        <p class="card-text contact"> <i class=" fa-solid fa-phone"></i>+91
                                            <%= product.author.contactNumber %>
                                        </p>
                                    </div>
                                    <div class="inli">
                                        <a href="/products/<%= product._id %> "
                                            class="btn btn-primary btn-sm view-details">View Details</a>
                                    </div>

                                    <% if (currentUser) {%>
                                        <button type="button" class="inli btn btn-primary btn-sm modalbtn"
                                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            Enquiry
                                        </button>
                                        <% }else{ %>
                                            <a href="/login/buyer"
                                                class="inli btn btn-primary btn-sm modalbtn">Enquiry</a>
                                            <% } %>
                                                <p class="card-text seller">
                                                    <a href="/seller/<%= product.author.companyname %>">

                                                        <b id="sellername">
                                                            <%= product.author.companyname %>
                                                        </b>

                                                    </a>
                                                </p>
                                </div>
                            </div>
                        </div>

                        <% } %>
                </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Post Your Requirement</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="panel">
                        <form action="/enquiry" method="POST" class="needs-validation row g-3" id="search_form"
                            novalidate>
                            <div class="col-md-6">
                                <label for="service" class="form-label">Product/Service</label>
                                <input type="text" class="form-control" id="pname" name="enquiry[productname]" readonly
                                    required>
                            </div>
                            <div class="col-md-6">
                                <label for="seller" class="form-label">Seller</label>
                                <input type="text" class="form-control" id="sname" name="enquiry[seller]" readonly
                                    required>
                            </div>
                            <div class="col-md-6">
                                <label for="quantity" class="form-label">Quantity</label>
                                <input type="text" id="quantity" class="form-control" name="enquiry[quantity]" required>
                            </div>
                            <div class="col-md-6">
                                <label for="unit" class="form-label">Unit</label>
                                <select id="unit" class="form-control" name="enquiry[unit]" required>
                                    <option value="Piece" name="enquiry[unit]">Piece</option>
                                    <option value="Litre" name="enquiry[unit]">Litre</option>
                                    <option value="KG" name="enquiry[unit]">KG</option>
                                    <option value="Units" name="enquiry[unit]">Units</option>
                                    <option value="Meter" name="enquiry[unit]">Meter</option>
                                    <option value="Sq ft" name="enquiry[unit]">Sq ft </option>
                                    <option value="Inch" name="enquiry[unit]">Inch</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label for="buyingBody" class="form-label">Describe Your Buying
                                    Requirement</label>
                                <textarea id="buyingBody" cols="20" rows="3" class="form-control"
                                    name="enquiry[buyingBody]" required></textarea>
                            </div>
                            <% if( currentUser) {%>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" id="email" class="form-control" name="enquiry[email]" readonly
                                        required value="<%= currentUser.email %> ">
                                </div>
                                <div class="col-md-6">
                                    <label for="number" class="form-label">Contact No.</label>
                                    <input type="text" id="number" class="form-control" name="enquiry[contact]" readonly
                                        required value="<%= currentUser.contactNumber %> ">
                                </div>
                                <% }%>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Send
                                            Enquiry</button>
                                    </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mt-4">
            <li class="prev page-item" style="display: none;">
                <a class="page-link" id="less" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <% let PN=0 %>
                <% for(let num=0; response.totalPages>=num; num++) {%>
                    <% if(num%9==0) {%>
                        <% PN++%>
                            <li class="page-item"><a class="page-link pagenation" id="currUrl" href="/products?page=">
                                    <%= PN %>
                                </a></li>
                            <% } %>
                                <% } %>
                                    <li class="next page-item" style="display: none;">
                                        <a class="page-link" aria-label="Next" href="#">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
        </ul>
    </nav>

    <!-- <script>
        const list=document.querySelectorAll(".pagination li a");
        // let gfg=document.URL;
        // let currUrl=document.getElementById('currUrl');
        // currUrl.href=gfg+'/hehe'
        for (let b=0; b<list.length; b++) {
            console.log(list[b]);
        }
    </script> -->
    <script src="/javascripts/index.js"></script>