<% layout('layouts/boilerplate')%>
    <div class="mt-5">
        <div class="row">
            <div class="col-6 offset-3">
                <div class="card mb-3">
                    <img src="<%= products.image%>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= products.title%>
                        </h5>
                        <p class="card-text">
                            <%= products.description%>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">₹<%= products.price%>
                        </li>
                        <li class="list-group-item">
                            Category: <%= products.category%>
                        </li>
                    </ul>
                    <div class="card-body">
                        <a class="card-link btn btn-info" href="/products/<%= products._id %>/edit ">Edit</a>
                        <form class="d-inline" action="/products/<%=products._id%>?_method=DELETE" method="POST"
                            method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    <div class="card-footer text-muted">
                        <%= products.location%>
                    </div>
                </div>
            </div>
        </div>
    </div>