<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/styleSheets/stars.css">
    <link rel="stylesheet" href="/styleSheets/showPage.css">
    <script src="/javascripts/index.js"></script>
    <div class="mt-5">
        <div class="row">
            <div class="col-6">

                <div class="card main-card mb-3">
                    <div class="card-body">
                        <div id="CampgroundCarousel" class="carousel slide main-img" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <% product.images.forEach((img, i)=> { %>
                                    <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                                        <img src="<%= img.url%>" class="d-block card-img-top" alt="" crossorigin>
                                        <!--crossorign to stop that error caused by helmet    -->
                                    </div>
                                    <% }) %>
                            </div>
                            <% if(product.images.length> 1) {%>
                                <button class="carousel-control-prev" type="button" data-bs-target="#CampgroundCarousel"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#CampgroundCarousel"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                                <% } %>
                                    <div class="" style="display: inline-block;">
                                        <h5 class=" card-title" id="productname">
                                            <%= product.title%>
                                        </h5>
                                    </div>
                                    <% if(currentUser && product.author.equals(currentUser._id)){%>
                                        <div class="card-body" style="display: inline-block;">
                                            <a class="card-link btn btn-info edit-btn"
                                                href="/products/<%= product._id %>/edit ">Edit</a>
                                            <form class="d-inline" action="/products/<%=product._id%>?_method=DELETE"
                                                method="POST" method="POST">
                                                <button class="btn btn-danger dlt-btn">Delete</button>
                                            </form>
                                        </div>
                                        <% } %>

                                            <p class="card-text description">
                                                <%= product.description%>
                                            </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>Price: </b> ₹<%= product.price%>
                            </li>
                            <li class="list-group-item">
                                <i class=" fa-solid fa-phone"></i>+91
                                <%= product.author.contactNumber %>
                            </li>

                            <li class="list-group-item">
                                <b> Category: </b><a id="cata" href="/products/categories/<%= product.categories %>">
                                    <%= product.categories%>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <b style="display:inline;">Seller: </b>
                                <div id="sellername" style="display:inline;">
                                    <a id="selle" href="/seller/<%= product.author.companyname %>">
                                        <%= product.author.companyname%>
                                    </a>
                                </div>
                            </li>
                            <% if(!currentUser) {%>
                                <a href="/login/buyer" class="btn btn-primary btn-sm modalbtn inli">Enquiry</a>


                                <% }else{ %>
                                    <button type="button" class="inli btn btn-primary btn-sm modalbtn"
                                        data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        Enquiry
                                    </button>
                                    <% } %>
                        </ul>

                    </div>
                </div>

            </div>
            <div class="col-6">
                <h2>Leave a Review</h2>
                <% if(currentUser) {%>
                    <form action="/products/<%=product._id%>/reviews" method="POST" class="mb-3 needs-validation"
                        novalidate>
                        <fieldset class="starability-slot">
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1"
                                checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                        <div class="mb-3">
                            <label class="form-label" for="body">Review Text</label>
                            <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3"
                                required></textarea>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button class="btn btn-success btn-submit">Submit</button>
                    </form>
                    <% } else{%>
                        <form action="/login" method="GET" class="mb-3 needs-validation" novalidate>
                            <!-- <div class="mb-3">
                            <label class="form-label" for="rating">Rating</label>
                            <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
                        </div> -->
                            <fieldset class="starability-slot">
                                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1"
                                    checked aria-label="No rating." />
                                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                <label for="first-rate1" title="Terrible">1 star</label>
                                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                <label for="first-rate2" title="Not good">2 stars</label>
                                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                <label for="first-rate3" title="Average">3 stars</label>
                                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                <label for="first-rate4" title="Very good">4 stars</label>
                                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                <label for="first-rate5" title="Amazing">5 stars</label>
                            </fieldset>
                            <div class="mb-3">
                                <label class="form-label" for="body">Review Text</label>
                                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3"
                                    required></textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <button class="btn btn-success btn-submit">Submit</button>
                        </form>
                        <% } %>
                            <% for(let review of product.reviews) { %>
                                <div class="card mb-3 ">
                                    <div class="card-body">
                                        <p class="starability-result" data-rating="<%=review.rating%>">
                                            Rated: <%= review.rating %> stars
                                        </p>
                                        <p class="card-text">
                                            <%= review.body %>
                                        </p>
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            <% if(review.reviewFromSeller !=null) {%>
                                                <%= review.reviewFromSeller.username%>
                                                    <% }else if(review.reviewFromUser !=null){%>
                                                        <%= review.reviewFromUser.username %>
                                                            <% } %>
                                        </h6>
                                        <% if(currentUser && review.author.equals(currentUser._id)) {%>
                                            <form
                                                action="/products/<%=product._id%>/reviews/<%=review._id%>?_method=DELETE"
                                                method="POST">
                                                <button class="btn btn-sm btn-danger btn-delete">Delete</button>
                                            </form>
                                            <% } %>

                                    </div>
                                </div>
                                <% } %>

            </div>

        </div>

    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Post Your Requirement</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="panel">
                        <form action="/enquiry" method="POST" class="needs-validation row g-3" novalidate
                            id="search_form">

                            <div class="col-md-6">
                                <label for="service" class="form-label">Product/Service</label>
                                <input type="text" class="form-control" id="pname" name="enquiry[productname]" readonly
                                    required>
                            </div>
                            <div class="col-md-6">
                                <label for="seller" class="form-label">Seller</label>
                                <input type="text" class="form-control" id="sname" name="enquiry[seller]" readonly
                                    required>
                            </div>
                            <div class="col-md-6">
                                <label for="quantity" class="form-label">Quantity</label>
                                <input type="text" id="quantity" class="form-control" name="enquiry[quantity]" required>
                            </div>
                            <div class="col-md-6">
                                <label for="unit" class="form-label">Unit</label>
                                <select id="unit" class="form-control" name="enquiry[unit]" required>
                                    <option value="Piece" name="enquiry[unit]">Piece</option>
                                    <option value="Litre" name="enquiry[unit]">Litre</option>
                                    <option value="KG" name="enquiry[unit]">KG</option>
                                    <option value="Units" name="enquiry[unit]">Units</option>
                                    <option value="Meter" name="enquiry[unit]">Meter</option>
                                    <option value="Sq ft" name="enquiry[unit]">Sq ft </option>
                                    <option value="Inch" name="enquiry[unit]">Inch</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label for="buyingBody" class="form-label">Describe Your Buying
                                    Requirement</label>
                                <textarea id="buyingBody" cols="20" rows="3" class="form-control"
                                    name="enquiry[buyingBody]" required></textarea>
                            </div>
                            <% if( currentUser) {%>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" id="email" class="form-control" name="enquiry[email]" readonly
                                        required value="<%= currentUser.email %> ">
                                </div>
                                <div class="col-md-6">
                                    <label for="number" class="form-label">Contact No.</label>
                                    <input type="text" id="number" class="form-control" name="enquiry[contact]" readonly
                                        required value="<%= currentUser.contactNumber %> ">
                                </div>
                                <% }%>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" onclick="form_submit()" class="btn btn-primary">Send
                                            Enquiry</button>
                                    </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>